
  <span style="margin-bottom:30px;font-size:40px;line-height:44px;letter-spacing:-0.025em;font-weight:400;font-family:Times New Roman, Helvetica, Arial, sans-serif;color:#222829;">
    Confirm your email address
  </span>
  <span style="margin-bottom:30px;margin-top:30px;display:block;font-size:15px;line-height:24px;letter-spacing:0.015em;font-weight:400;font-family:Helvetica, Arial, sans-serif;color:#3D4344;">
    Once you’ve confirmed that <%= @email %> is your email address, you can get started in AjalaTravels!
  </span>

  <button style="border:none;margin-bottom:10px;margin:0;outline:0;cursor:pointer;overflow:visible;text-align:center;white-space:normal;display:block;vertical-align:middle;border-radius:8px;color:white;background-color:#8d965e;padding:8px 11px;">
    <%= link_to 'Confirm email', "https://steady-sunshine-b851be.netlify.app?confirmation_token=#{@token}", style: "text-transform:none;text-decoration:none;color:white;font-size:14px;line-height:16px;letter-spacing:0.01em;font-weight:700;font-family:Helvetica, Arial, sans-serif;border:0;" %>
  </button>

  <span style="margin-top:30px;display:block;font-size:15px;line-height:24px;letter-spacing:0.015em;font-weight:400;font-family:Helvetica, Arial, sans-serif;color:#3D4344;">
    If you didn’t request this email, there’s nothing to worry about — you can just safely ignore it.
  </span>
