<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', "https://steady-sunshine-b851be.netlify.app?confirmation_token=#{@token}" %></p>
